{{/* SPDX-FileCopyrightText: 2021 SAP SE or an SAP affiliate company and Gardener contributors

 SPDX-License-Identifier: Apache-2.0
*/}}

{{- if .Values.global.serviceAccount.controller.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "landscaper.controller.serviceAccountName" . }}
  labels:
    {{- include "landscaper.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - "apiextensions.k8s.io"
    resources:
      - "customresourcedefinitions"
    verbs:
      - "*"
  - apiGroups:
      - "landscaper.gardener.cloud"
    resources:
      - "*"
    verbs:
      - "*"
  - apiGroups:
      - ""
    resources:
      - "events"
    verbs:
      - create
      - get
      - watch
      - patch
      - update
  - apiGroups:
      - ""
    resources:
      - "secrets"
      - "configmaps"
    verbs:
      - "*"
  - apiGroups:
      - ""
    resources:
      - "serviceaccounts"
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - delete
  - apiGroups:
      - ""
    resources:
      - "namespaces"
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - "rbac.authorization.k8s.io"
    resources:
      - "clusterroles"
      - "clusterrolebindings"
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - delete
  - apiGroups:
      - landscaper.gardener.cloud
    resources:
      - syncobjects
    verbs:
      - get
      - watch
      - list
      - create
      - update
      - patch
      - delete
{{- end }}
