{{/* SPDX-FileCopyrightText: 2021 SAP SE or an SAP affiliate company and Gardener contributors

 SPDX-License-Identifier: Apache-2.0
*/}}

{{- if .Values.global.serviceAccount.controller.create }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "landscaper.controller.serviceAccountName" . }}
  labels:
    {{- include "landscaper.labels" . | nindent 4 }}
  {{- with .Values.global.serviceAccount.controller.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
{{- if .Values.global.serviceAccount.webhooksServer.create }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "landscaper.webhooksServer.serviceAccountName" . }}
  labels:
    {{- include "landscaper.labels" . | nindent 4 }}
  {{- with .Values.global.serviceAccount.webhooksServer.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
{{- if .Values.global.serviceAccount.user.create }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "landscaper.user.serviceAccountName" . }}
  labels:
    {{- include "landscaper.labels" . | nindent 4 }}
  {{- with .Values.global.serviceAccount.user.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
---
apiVersion: v1
kind: Secret
type: kubernetes.io/service-account-token
metadata:
  name: {{ include "landscaper.user.serviceAccountName" . }}-token
  labels:
    {{- include "landscaper.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/service-account.name: {{ include "landscaper.user.serviceAccountName" . }}
    {{- with .Values.global.serviceAccount.user.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
{{- end }}
