# SPDX-FileCopyrightText: 2020 SAP SE or an SAP affiliate company and Gardener contributors
#
# SPDX-License-Identifier: Apache-2.0

# Default values for landscaper.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

landscaper:
  verbosity: 2
  crdManagement:
    deployCrd: true
#   forceUpdate: true
  registryConfig: # contains optional oci secrets
    cache: {}
#      useInMemoryOverlay: false
    allowPlainHttpRegistries: false
    insecureSkipVerify: false
    secrets: {}
#     <name>: <docker config json>

#  repositoryContext:
#    type: "ociRegistry"
#    baseUrl: ""

#  metrics:
#    port: 8080

  deployers: []
#  - container
#  - helm
#  - mock
#  - manifest
  deployersConfig: {}
#    container:
#      apiVersion: container.deployer.landscaper.gardener.cloud/v1alpha1
#      kind: Configuration
#      ...

#  deployItemPickupTimeout: 5m

image:
   # Overrides the image tag whose default is the chart appVersion.
#  tag: ""

controller:
  replicaCount: 1
  image:
    repository: eu.gcr.io/gardener-project/landscaper/landscaper-controller
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the .Values.image.tag or chart appVersion.
    #tag: ""

webhooksServer:
  replicaCount: 1
  image:
    repository: eu.gcr.io/gardener-project/landscaper/landscaper-webhooks-server
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the .Values.image.tag or the chart appVersion.
    #tag: ""

  servicePort: 9443 # required unless disableWebhooks contains "all"
  disableWebhooks: [] # options: installation, deployitem, execution, all

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
