# SPDX-FileCopyrightText: 2020 SAP SE or an SAP affiliate company and Gardener contributors
#
# SPDX-License-Identifier: Apache-2.0

{{- if .Values.serviceAccount.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "deployer.fullname" . }}
  labels:
    {{- include "deployer.labels" . | nindent 4 }}
rules:
- apiGroups:
  - landscaper.gardener.cloud
  resources:
  - deployitems
  - deployitems/status
  - contexts
  verbs:
  - get
  - watch
  - list
  - update
  - patch
- apiGroups:
  - landscaper.gardener.cloud
  resources:
  - targets
  verbs:
  - get
  - watch
  - list
- apiGroups:
  - ""
  resources:
  - "events"
  verbs:
  - create
  - get
  - watch
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - "pod"
  verbs:
  - "*"
- apiGroups:
  - ""
  resources:
  - "secrets"
  verbs:
  - "*"
- apiGroups:
  - ""
  resources:
  - "pod/status"
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - "pods"
  - "pods/status"
  verbs:
  - "*"
- apiGroups:
  - ""
  resources:
  - "serviceaccounts"
  verbs:
  - get
  - list
  - create
  - update
  - delete
- apiGroups:
  - "rbac.authorization.k8s.io"
  resources:
  - "roles"
  - "rolebindings"
  verbs:
  - get
  - list
  - create
  - update
  - delete
{{- end }}
